body {
    background-image: url("IMMAGINI PROGETTO/pastel-yellow-vignette-concrete-textured-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;

}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 0%;
}
@media screen and (max-width: 700px) {
    .header {
        flex-direction: column !important;
        justify-content: center !important;
        align-content: center !important;
        align-items: center !important;
      


    }
}


.header img {
    
    width: 150px;
    height: 150px;


}
.cerca {
    position: relative;
    left: 13%;
}

.cerca #gsearch {
    border: rgb(255, 208, 0);
    border-style: solid;
    width: 350px;
    height: 30px;
  
}

.interessi * {
    text-align: center;
    margin: 60px 60px;
    background-color: white;

}

.cerca h1 {
    text-align: center;
    font-weight: bolder;
    color: darkred;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    text-decoration: solid;
    position: relative;
    right: 13%;
    
    
    
}

.pulsanti img {
    width: 50px ;
    height: 50px ;

}

.pulsanti ul {
    list-style-type: none;
    display: flex;
    align-items: end;
    flex-direction: row;
    position: relative;
    left: 70%;
}

.locandina ul>li {
    display: inline-block;
    padding-right: 20px;
}

.navbar {
    background-image: url("IMMAGINI PROGETTO/ciao.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    display: flex
}

/* Style the navigation bar links */
.navbar a {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-family: "Poppins", sans-serif;;
}

/* Change color on hover */
.navbar a:hover {
    background-color: coral;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 700px) {
    .navbar {
        flex-direction: column !important;
        background-image: url("IMMAGINI PROGETTO/ciao.jpg");
        background-size: cover;
        background-repeat: repeat
    }
}

@media screen and (max-width: 700px) {
    .navbar2 {
        flex-direction: column !important;
        justify-content: center;
       
      


    }
}

.navbar2 {
    justify-content: center;
    display: flex;
    flex-direction: row;
  flex-wrap: wrap;
}

.navbar2 a {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    padding: 14px 20px;
    font-family: "Poppins", sans-serif;;
    text-align: center;
}

.navbar2 a:hover {
    background-color: #484643;
    color: white;
}

.cc-content-logo {
    size: 20px 10px;
}

.cc-content-input {
    width: 900px;
    height: 40px;
    border: darkred;
    border-style: solid;

}

.consigliatitesto h2 {
    font-family: "Poppins", sans-serif;
    font-size: xx-large;
    text-align: center;
    color: rgb(203, 3, 3);
    font-weight: bolder;
    font-style: italic;
}

.consimmagini img {
    width: 210px;
    height: 310px;
}

.consimmagini ul>li {
    display: inline-block;
    padding-right: 40px;
}

.pulslibri img {
    width: 20px;
    height: 20px;
}

.consimmagini p {
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: black;

}
.consimmagini a {
    color: black;
}

.pulslibri ul {
    display: inline-block;
    position: relative;
    left: 0%;
    text-align: center;
    padding-bottom: 20px;
}

.content li {

    font-weight: bold;
    color: rgb(175, 9, 9);
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    padding: 6px;

    width: 100%;
}

.footer {
    background-color: #222222;
    background-size: 1000px 1000px;

    color: rgb(255, 255, 255);
    display: flex !important;
    justify-content: space-around !important;

}

@media screen and (max-width:800px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}


@media screen and (max-width:800px) {
    .orari {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

@media screen and (max-width:800px) {
    .social {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

@media screen and (max-width:800px) {
    .pagamenti {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

@media screen and (max-width:800px) {
    .contatti {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column !important;
        justify-content: center !important;
        align-content: center !important;
        align-items: center !important;
    }
}
@media screen and (max-width:800px) {
    .contatti ul {
        display: flex;
        
        flex-direction: column !important;
        justify-content: center !important;
        
        margin-left: 30%;
    }
}
@media screen and (max-width:800px) {
    .contatti p {
        display: flex;
        margin-right: 60%;
        
        flex-direction: column !important;
        justify-content: center !important;
        
      
    }
}
@media screen and (max-width:800px) {
    .orari {
        display: flex;
        
        flex-direction: column !important;
        justify-content: center !important;
        
       
    }
}
@media screen and (max-width:800px) {
    .orari table {
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        margin-left: 20%;
        }
}
@media screen and (max-width:800px) {
    .orari p {
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        margin-left: 20%;
        }
}

.social {
    text-align: center;
    float: left;

}

.social img {

    width: 30px;
    height: 30px;
}

.social ul {
    list-style-type: none;

}

.contatti {
    color: white;
}

.contatti p {
    position: relative;
    left: 150px;
    font-family: "Poppins", sans-serif;;

}

.contatti ul {

    list-style-type: none;
    position: relative;
    right: 50px;
    height: 200px;


}

.contatti ul>li {
    padding-bottom: 8px;
    font-family: "Poppins", sans-serif;
}

.contatti a {
    color: white;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;;
}

.contatti table {
    position: relative;
    text-align: center;
    color: white;
    height: 30px;
}

.orari {
    color: white;
    font-family: "Poppins", sans-serif;;

}

.orari table {
    color: white;
    position: relative;
    right: 50px;
    font-family: "Poppins", sans-serif;;
}

.pagamenti {
    color: white;
    font-family: "Poppins", sans-serif;;

}

.pagamenti ul {
    list-style-type: none;
}

.pagamenti img {
    width: 60px;
    height: 50px;

}