body {
    background-image: url("IMMAGINI PROGETTO/pastel-yellow-vignette-concrete-textured-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;

}

.header {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}


.header img {
    float: left;
    width: 150px;
    height: 150px;


}

.titolo h1 {
    position: relative;
    right: 6%;
    text-align: center !important;
    color: maroon;
    text-decoration: solid;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.cerca * {
    text-align: center !important;
    position: relative;
    right: 2%;


}

.cerca #gsearch {
    border: rgb(255, 208, 0);
    border-style: solid;
    width: 350px;
    height: 30px;
}

.interessi * {
    text-align: center;
    margin: 60px 60px;
    background-color: white;

}

.pulsanti {
    float: right !important;

    position: absolute;
    top: 50px;
    right: 50px;

}

.pulsanti img {
    width: 50px !important;
    height: 50px !important;

}

.pulsanti ul>li {
    display: inline-block !important;
}

.locandina ul>li {
    display: inline-block;
    padding-right: 20px;
}

.navbar {
    background-image: url("IMMAGINI PROGETTO/ciao.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    display: flex
}

/* Style the navigation bar links */
.navbar a {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/* Change color on hover */
.navbar a:hover {
    background-color: coral;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 700px) {
    .navbar {
        flex-direction: column !important;
        background-image: url("IMMAGINI PROGETTO/ciao.jpg");
        background-size: cover;
        background-repeat: repeat
    }
}

@media screen and (max-width: 700px) {
    .navbar2 {
        flex-direction: column !important;


    }
}

.navbar2 {
    justify-content: center;
    display: flex
}

.navbar2 a {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    padding: 14px 20px;

    text-align: center;
}

.navbar2 a:hover {
    background-color: #484643;
    color: white;
}

.cc-content-logo {
    size: 20px 10px;
}

.cc-content-input {
    width: 900px;
    height: 40px;
    border: darkred;
    border-style: solid;

}

.consigliatitesto h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
    color: rgb(203, 3, 3);
    font-weight: bolder;
    font-style: italic;
}

.consimmagini img {
    width: 210px;
    height: 310px;
}

.consimmagini ul>li {
    display: inline-block;
    padding-right: 40px;
}

.pulslibri img {
    width: 20px;
    height: 20px;
}

.consimmagini p {
    text-align: center;
}

.pulslibri ul {
    display: inline-block;
    position: relative;
    left: 0%;
    text-align: center;
    padding-bottom: 20px;
}

.content li {

    font-weight: bold;
    color: rgb(175, 9, 9);
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    padding: 6px;

    width: 100%;
}

.footer {
    background-color: #222222;
    background-size: 1000px 1000px;

    color: rgb(255, 255, 255);
    display: flex !important;
    justify-content: space-around !important;

}

@media screen and (max-width:800px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}


@media screen and (max-width:800px) {
    .orari {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

@media screen and (max-width:800px) {
    .social {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

@media screen and (max-width:800px) {
    .pagamenti {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

@media screen and (max-width:800px) {
    .contatti {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

.social {
    text-align: center;
    float: left;

}

.social img {

    width: 30px;
    height: 30px;
}

.social ul {
    list-style-type: none;

}

.contatti {
    color: white;
}

.contatti p {
    position: relative;
    left: 150px;

}

.contatti ul {

    list-style-type: none;
    position: relative;
    right: 50px;
    height: 200px;


}

.contatti ul>li {
    padding-bottom: 8px;
}

.contatti a {
    color: white;
    font-weight: bolder;
}

.contatti table {
    position: relative;
    text-align: center;
    color: white;
    height: 30px;
}

.orari {
    color: white;

}

.orari table {
    color: white;
    position: relative;
    right: 50px;
}

.pagamenti {
    color: white;

}

.pagamenti ul {
    list-style-type: none;
}

.pagamenti img {
    width: 60px;
    height: 50px;

}